/* style.css */

body {
    font-family: sans-serif;
    background-color: #2e4234;
    padding: 20px;
}

#feed {
    margin-top: 30px;
}

.post {
    margin-top: 30px;
    box-shadow: 5px 10px #888888;
    border-radius: 5px;
    display:block;
    border:double rgb(182, 57, 8) 7px;
    padding:5px;
    /*margin-left:auto;
    margin-right:auto;*/
    width:50%;
    background-color: #488896;
}